haystack-ai
elasticsearch-haystack @ git+https://github.com/deepset-ai/elasticsearch-haystack.git@d956c19ba905e03769faa2f39f3e64a950d2d7fb
pypdf

# rest api
fastapi==0.104.0
uvicorn[standard]==0.23.2
python-multipart==0.0.6